
  <div class="column-container">
    <h2 class="column-title">{{ status }}</h2>
    
    <div class="cards-list">
      @for (task of tasks(); track task.id) {
        <mat-card class="task-card" appearance="outlined">
          <mat-card-content>
            <h3 class="task-title">{{ task.title }}</h3>
            <p class="task-desc">{{ task.description }}</p>
          </mat-card-content>
        </mat-card>
      }
  
    <button mat-button class="inline-add-btn" (click)="onclickCreateProject()" >
      <mat-icon >add</mat-icon> Add task
    </button>
  </div>