<div class="board-wrapper">
    <nav class="top-nav">
      <div class="nav-left">
        <span class="logo">Task Manager</span>
        <button mat-button>Dashboard</button>
        <button mat-button>Projects</button>
        <button mat-button class="active-link">Teams</button>
        <button mat-button>Settings</button>
      </div>
      <div class="nav-right">
        <!-- <span class="user-name">Shira Cohen</span> -->
        <div class="user-avatar"></div>
      </div>
    </nav>
  
    <header class="board-header">
      <h1>Website Redesign</h1>
      <button mat-flat-button color="primary" class="add-project-btn"(click)="onclickCreateProject()">
        Add project
      </button>
    </header>
  
    <div class="kanban-container">
    
      <app-project-list [team_id]="currentTeamId()" class="kanban-column" status="Done"></app-project-list>
    </div>
 </div>