.main-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }
  
  .icon-sidebar {
    width: 100px;
    background-color: #1e1f21; /* צבע כהה כמעט שחור */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
  }
  
  .nav-btn {
    background: none;
    border: none;
    color: #a6a7a9;
    width: 100%;
    padding: 12px 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px; /* טקסט קטן מתחת לאייקון */
    transition: all 0.2s;
  }
  
  .nav-btn i {
    font-size: 40px;
    margin-bottom: 4px;
  }
  
  .nav-btn:hover, .nav-btn.active {
    color: #ffffff;
    background-color: #35373b;
  }
  
  .nav-btn.active {
    border-left: 3px solid #7b68ee; /* פס סגול בצד הכפתור הפעיל */
  }
  
  .content-area {
    flex: 1;
    background-color: white;
    overflow-y: auto;
  }
  .nav-btn.active {
    color: white;
    /* border-right: 3px solid #7b68ee; הפס הסגול המפורסם */
    background-color: rgba(255, 255, 255, 0.1);
  }