.dialog-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 450px;
  padding-top: 10px;
}

.full-width { width: 100%; }

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

mat-dialog-actions {
  padding: 16px 0;
}

button[color="primary"] {
  background-color: #4a86e8 !important; /* הצבע הכחול מהעיצוב */
}